body{
    margin-left: 10%;
    margin-right: 10%;

    align-items: center;

}

#offers{
    text-align: center;
    background-color: rgb(128, 197, 128);
    color: white;
    padding: 5px;
}

#Header{
    background-image: url('images/introImage.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    height: 500px; 
    background-position: center


}
.Rasi{

    top:5px;
    text-align: center;
    left:20%;
    margin-left: 5%;
  
}

.Navbar{
    display: flex;
    gap:10%;
    align-items: center;
}

button{
    width: 250px;
    padding: 20px;
    color: white;
    color: rgb(99, 150, 99);
   border-radius: 10%;
}

.india{
    text-align: center;
    border-color: black;
    margin-top: 5%;
}

#Timeless{
    display: flex;
    gap: 10%;
}

.green{
    color: rgb(60, 134, 60);
}

.button{
    display: flex;
    gap: 10%;
    flex-direction: row;
    
}

.green{
    width: 250px;
    padding: 20px;
    color: rgb(99, 150, 99);
    
}

.white{
    color: black;
}

#premium{
    display: flex;
    flex-direction: row;
    gap: 10%;
    background-color: rgb(230, 234, 233);
    margin-top: 5%;
    padding: 30px;
    

}
.details{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#array{
    text-align: center;
}

#Screen{
    display: flex;
    flex-direction: row;
    gap: 2%;
    margin-top: 5%;
    
}

#client{
    text-align: center;
}

.text{
    color: rgb(74, 73, 73);
}

.company{
    display: flex;
    flex-direction: row;
}

#Industry{
    display: flex;
    flex-direction: row;
    gap: 5%;
}
.star{
    color: rgb(99, 150, 99);

}
#High{
    display: flex;
    flex-direction: row;
    gap: 3%; 
    align-items: center;
}
.image{
    border-radius: 5%;
    margin-top: 2%;
}
#logos{
    align-items: center;
    gap: 8%;
    display: flex;
    flex-direction: row;
}

#showcasing{
    text-align: center;
    margin-top: 10%;
}

#immages{
    display: flex;
    flex-direction: row;
    gap:3%;
    border-radius: 5%;
    margin-top: 5%;
    align-items: center;
    
}

.lesso{
    margin-top: 3%;
    border-radius: 2%;
    height: 20%;
}

#reach{
    text-align: center;
}

#map{
    background-image: url("images/map.png") ;
    background-size: cover;
    background-repeat: no-repeat;


}

.phone{
    padding: 2px 16px;
    background-color: white;
    margin-right:70% ;
    margin-left: 10%;
    border-radius: 10%;
    align-items: center;
    margin-bottom: 10%;
}
.align{
    display: flex;
    flex-direction: row;
    gap:3%;
    align-items: center;
}

#footer{
    align-items: center;
    display: flex;
    flex-direction: row;
    gap:3%;
    background-color: rgb(24, 21, 21);
    margin-bottom: 3%;
    color: beige;
}

.copyright{
    text-align: center;
    background-color: rgb(24, 21, 21);
    color: beige;
    margin-bottom: 3%;
    padding-bottom: 20px;

}

#bottoml{
    background-color: rgb(24, 21, 21);
}

.footerimage{
    padding-left: 5%;
}




@media only screen and (min-width:200px) and (max-width:1000px){
    #Header{

        flex-direction: column;
    }

    .Navbar{
    flex-direction: column;
     }

     #Timeless{
        flex-direction: column;
        width: 20%;
    }
    .bed{
        width: 20px;
    }
    #premium{
        flex-direction: column;
        gap: 10%;
        background-color: rgb(230, 234, 233);
        margin-top: 5%;
        padding: 30px;

    }
    
    #Screen{
        flex-direction: column;
        gap: 2%;
        margin-top: 5%;
        
    }
    #Industry{
        flex-direction: column;
        gap: 5%;
    }

    #High{
        flex-direction: column;
        gap: 3%; 
        align-items: center;
    }

    #immages{
        flex-direction: column;
        gap:3%;
        border-radius: 5%;
        margin-top: 5%;
        align-items: center;  
    }

    .lesso{
        margin-top: 3%;
        border-radius: 2%;
        height: 200px;

        
    }

    #footer{
        align-items: center;
        flex-direction: column;
        gap:3%;
        background-color: rgb(24, 21, 21);
        margin-bottom: 3%;
        color: beige;
    }

    .bed{
        margin-top: 3%;
        border-radius: 2%;
        width: 300px;

    }
    .image{
        align-items: center;
    }

    body{
        margin-left: 10%;
        margin-right: 10%;

        align-items: center;
    
    }
}    



@media only screen and (min-width:200px) and (max-width:400px){
    #Header{

        flex-direction: column;
    }

    .Navbar{
    flex-direction: column;
     }

     #Timeless{
        flex-direction: column;
        width: 20%;
    }
    .bed{
        width: 20px;
    }
    #premium{
        flex-direction: column;
        gap: 10%;
        background-color: rgb(230, 234, 233);
        margin-top: 5%;
        padding: 30px;

    }
    
    #Screen{
        flex-direction: column;
        gap: 2%;
        margin-top: 5%;
        
    }
    #Industry{
        flex-direction: column;
        gap: 5%;
    }

    #High{
        flex-direction: column;
        gap: 3%; 
        align-items: center;
    }

    #immages{
        flex-direction: column;
        gap:3%;
        border-radius: 5%;
        margin-top: 5%;
        align-items: center;  
    }

    .lesso{
        margin-top: 3%;
        border-radius: 2%;
        height: 200px;

        
    }

    #footer{
        align-items: center;
        flex-direction: column;
        gap:3%;
        background-color: rgb(24, 21, 21);
        margin-bottom: 3%;
        color: beige;
    }

    .bed{
        margin-top: 3%;
        border-radius: 2%;
        width: 300px;

    }
    .image{
        align-items: center;
    }

    body{
        margin-left: 10%;
        margin-right: 10%;

        align-items: center;
    
    }
}    

